@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ffffff;
}

/* stylelint-disable-next-line */
@theme inline {
  --font-sans: var(--font-sora);
}


@media (prefers-color-scheme: white) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sora), system-ui, sans-serif;
}

@layer utilities {
  .text-outline {
    color: white;
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000,
      2px 0px 0 #000,
      -2px 0px 0 #000,
      0px 2px 0 #000,
      0px -2px 0 #000;
  }

}